name: Firmware build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  stm32f1-build:
    runs-on: ubuntu-latest

    env:
      BUILD_NUMBER: ${{ github.run_number }}
      PLATFORM: stm32f1

    steps:
      - name: Checkout main repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Initialize and update submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --remote --force
          git submodule status --recursive
          
      - name: Install ARM toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-arm-none-eabi cmake ninja-build
          
      - name: Configure (STM32F1)
        run: |
          cmake -S . -B build-stm32f1 \
            -G Ninja \
            -DPLATFORM=${PLATFORM} \
            -DBUILD_TESTS=OFF \
            -DCMAKE_TOOLCHAIN_FILE=cmake/toolchains/arm-none-eabi.cmake
            
      - name: Build
        run: |
          cmake --build build-stm32f1 --parallel